<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    <div class="main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            {{!-- <img src="images/about.pg" alt="Hanshal" title="Bhatiya Hanshal" class="img-fluid"> --}}
                        </figure>
                    </div>
                    <div>
                        <p class="pt-5 h4">Welcome</p>
                        <h1>My name is Hanshal Bhatiya. <br /><br />I am the founder and CEO of <b><strong><a href="/" >28  ગામ મોદી સમાજ</a></strong></b>.</h1>
                        <a href="https://www.hanshal.herokuapp.com/" target="_hanshal"><button class="btn btn-success">About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}

</body>

</html>